# ======================================================================================
# File         : .gitignore
# Author       : Wu Jie 
# Last Change  : 08/29/2010 | 09:30:07 AM | Sunday,August
# Description  : 
# ======================================================================================

#/////////////////////////////////////////////////////////////////////////////
#
#/////////////////////////////////////////////////////////////////////////////

_res/
editor.vcproj
editor.vcproj.*.user
Makefile
Makefile.Debug
Makefile.Release
autogen
debug
release
vc90.idb
vc90.pdb
