# ======================================================================================
# File         : .gitignore
# Author       : Wu Jie 
# Last Change  : 08/29/2010 | 09:22:01 AM | Sunday,August
# Description  : 
# ======================================================================================

#/////////////////////////////////////////////////////////////////////////////
#
#/////////////////////////////////////////////////////////////////////////////

debug/
release/
*.sln
*.vcproj
