# ======================================================================================
# File         : .gitignore
# Author       : Wu Jie 
# Last Change  : 01/07/2010 | 18:35:13 PM | Thursday,January
# Description  : 
# ======================================================================================

# /////////////////////////////////////////////////////////////////////////////
# compile files 
# /////////////////////////////////////////////////////////////////////////////

_build/
_bin/
*.pyc
.svn

# /////////////////////////////////////////////////////////////////////////////
# msvc files
# /////////////////////////////////////////////////////////////////////////////

*.ncb
*.suo
*.vcproj.*.user
*.pdb
*.idb

# /////////////////////////////////////////////////////////////////////////////
# gcc files
# /////////////////////////////////////////////////////////////////////////////

*.gch

# /////////////////////////////////////////////////////////////////////////////
# exVim files 
# /////////////////////////////////////////////////////////////////////////////

*.err
_log/
*.vimentry
.vimfiles.*/
quick_gen_project_*_autogen.bat
quick_gen_project_*_autogen.sh

# /////////////////////////////////////////////////////////////////////////////
# project files 
# /////////////////////////////////////////////////////////////////////////////

Log.txt
ex-config.xml

